$message-padding: 5px;
$message-border-radius: 15px;
$side-padding: 30px;
$message-fs: 12px;
$message-author-fs: $message-fs * 0.9;

$default-message-fc: #333;
$default-message-bg: #eee;
$self-message-bg: #00C853;
$self-message-fc: #fff;

:local {
  .author {
    font-size: $message-author-fs;
  }

  .messageRow {
    display: flex;
    flex-direction: row;

    padding-right: $side-padding;

    &.self {
      padding-right: 0;
      padding-left: $side-padding;
      justify-content: flex-end;
    }
  }

  .bubble {
    display: inline-block;

    font-size: $message-fs;
    color: $default-message-fc;
    background: $default-message-bg;

    margin-bottom: 2px;
    padding: $message-padding $message-padding*3;
    border-radius: $message-border-radius;

    &:not(.self) {
      &.first, &.between {
        border-bottom-left-radius: $message-border-radius / 3;
      }

      &.last, &.between {
        border-top-left-radius: $message-border-radius / 3;
      }

      &.last {
        margin-bottom: $message-padding * 2;
      }
    }

    &.self {
      background: $self-message-bg;
      color: $self-message-fc;

      &.first, &.between {
        border-bottom-right-radius: $message-border-radius / 3;
      }

      &.last, &.between {
        border-top-right-radius: $message-border-radius / 3;
      }
    }
  }
}