$message-padding: 5px;
$message-border-radius: 15px;
$side-padding: 30px;
$message-fs: 12px;
$message-author-fs: $message-fs * 0.9;
$message-time-fs: $message-fs * 0.9;

$default-message-fc: #333;
$default-message-bg: #eee;
$self-message-bg: #007bfe;
$self-message-fc: #fff;

@keyframes slideIn {
  from {transform: translateY(20%); opacity: 0}
  to {transform: translateY(0%); opacity: 1}
}

:local {
  .author {
    font-size: $message-author-fs;
  }

  .time {
    opacity: 0;
    font-size: $message-time-fs;
    order: 1;
    min-width: 40px;
    padding-left: $message-author-fs;

    transition: opacity 200ms;

    &.self {
      order: 0;
      padding-left: 0;
      padding-right: $message-author-fs;
    }
  }

  .messageRow {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding-right: $side-padding;

    &.self {
      padding-right: 0;
      padding-left: $side-padding;
      justify-content: flex-end;
    }

    &.server {
      flex-wrap: wrap;
      padding-right: 0;
      .time {
        width: 100%;
        text-align: center;
        font-size: 9px;
        color: dimgray;
        margin-top: -10px;
        margin-bottom: 3px;
      }
    }

    &:hover {
      .time {
        opacity: 1;
      }
    }
  }

  .bubble {
    display: inline-block;

    font-size: $message-fs;
    color: $default-message-fc;
    background: $default-message-bg;

    margin-bottom: 2px;
    padding: $message-padding $message-padding*3;
    border-radius: $message-border-radius;

    transition: transform 200ms, opacity 200ms;

    animation: slideIn 200ms;

    //&.pending {
      //transform: scale(0.8);
      //opacity: 0.6;
    //}

    &:not(.self) {
      &.first, &.between {
        border-bottom-left-radius: $message-border-radius / 3;
      }

      &.last, &.between {
        border-top-left-radius: $message-border-radius / 3;
      }

      &.last {
        margin-bottom: $message-padding * 2;
      }
    }

    &.self {
      background: $self-message-bg;
      color: $self-message-fc;

      &.first, &.between {
        border-bottom-right-radius: $message-border-radius / 3;
      }

      &.last, &.between {
        border-top-right-radius: $message-border-radius / 3;
      }
    }

    &.server {
      background: none;
      color: dimgray;
      font-size: 9px;
      width: 100%;
      text-align: center;
    }

    &.image {
      padding: 0;
      overflow: hidden;
    }
  }
}